$item-color: white;
$item-background: var(--mui-palette-primary-main);
$item-border: 1px solid var(--mui-palette-primary-900);
$item-selected-color: white;
$item-selected-background: var(--mui-palette-secondary-main);
$item-selected-border: 1px solid var(--mui-palette-secondary-dark);

$row-background-even: var(--mui-palette-common-white);
$row-background-odd: var(--mui-palette-primary-50);

$border-color: var(--mui-palette-divider);
$border-width: 1px;
$thick-border-width: 2px;
$sidebar-color: #ffffff;
$sidebar-background-color: #fff;
$list-item-padding: 0 0.5rem;
$weekend: rgba(250, 246, 225, 0.5);

.react-calendar-timeline {
  * {
    box-sizing: border-box;
  }

  .rct-outer {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }

  .rct-scroll {
    -ms-touch-action: none;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    touch-action: none;
    vertical-align: top;
    white-space: normal; /* was set to nowrap in .rct-outer */
  }

  .rct-item {
    border-radius: 4px;
    overflow: "hidden";

    &:hover {
      z-index: 88;
    }

    .rct-item-content {
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
      height: 100%;
      left: 0px;
      overflow: hidden;
      padding: 0 6px;
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .rct-sidebar {
    border-right: $border-width solid $border-color;
    box-sizing: border-box;
    color: var(--mui-palette-text-primary);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    white-space: normal; /* was set to nowrap in .rct-outer */

    &.rct-sidebar-right {
      border-right: 0;
      border-left: $border-width solid $border-color;
    }

    .rct-sidebar-row {
      border-bottom: $border-width solid $border-color;
      box-sizing: border-box;
      color: var(--mui-palette-text-primary);
      margin: 0;
      overflow: hidden;
      padding: $list-item-padding;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.rct-sidebar-row-odd {
        background: $row-background-odd;
      }
      &.rct-sidebar-row-even {
        background: $row-background-even;
      }
    }
  }

  .rct-vertical-lines {
    .rct-vl {
      position: absolute;
      border-left: 1px solid $border-color;
      z-index: 50;
      &.rct-vl-first {
        border-left-width: 2px;
      }
      &.rct-day-6,
      &.rct-day-0 {
        background: $weekend;
      }
    }
  }

  .rct-horizontal-lines {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;

    .rct-hl-even,
    .rct-hl-odd {
      border-bottom: $border-width solid $border-color;
      box-sizing: border-box;
      z-index: 40;
    }
    .rct-hl-odd {
      background: $row-background-odd;
    }
    .rct-hl-even {
      background: $row-background-even;
    }
  }

  .rct-custom-marker {
    background: var(--mui-palette-divider);
    width: 4px;
    z-index: 60;
  }

  .rct-cursor-marker {
    background: var(--mui-palette-primary-200);
    width: 2px;
    z-index: 60;
  }

  .rct-cursor-line {
    background: $item-background;
    position: absolute;
    width: 2px;
    z-index: 70;
  }

  .rct-dateHeader {
    align-items: center;
    border-left: 1px solid var(--mui-palette-divider);
    cursor: pointer;
    display: flex;
    font-size: 10px;
    height: 100%;
    justify-content: center;

    &.rct-dateHeader-primary {
      border-bottom: 1px solid var(--mui-palette-divider);
      font-size: 12px;
      font-weight: 700;
    }
  }

  .rct-dateHeader-primary {
    background-color: initial;
    border-collapse: collapse;
    color: var(--mui-palette-text-primary);

    &:first-child {
      border-left: 1px solid var(--mui-palette-divider);
    }
  }

  .rct-sidebar-header {
    border-top: 1px solid var(--mui-palette-divider);
  }

  .rct-header-root {
    background: #fff;
    border-bottom: 1px solid var(--mui-palette-divider);
    border-bottom: 1px solid var(--mui-palette-TableCell-border);
    box-shadow: 4px 0 8px rgb(0 0 0 / 10%);
    color: var(--mui-palette-text-primary);
  }

  .rct-calendar-header {
    border-top: 1px solid var(--mui-palette-divider);
  }
}
